[submodule "learning-tools"]
	path = codes/stage0/learning-tools
	url = https://github.com/scbz4learning/learning-tools
[submodule "TinyInfiniTrain"]
	path = codes/stage1/training/TinyInfiniTrain
	url = git@github.com:scbz4learning/TinyInfiniTrain.git
[submodule "TinyInfiniTensor"]
	path = codes/stage1/ai_compiler/TinyInfiniTensor
	url = git@github.com:scbz4learning/TinyInfiniTensor.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:scbz4learning/learning-cxx.git
[submodule "stage2/CLIP"]
	path = codes/stage2/ai_compiler/CLIP
	url = https://github.com/openai/CLIP
[submodule "stage2/ai_compiler/InfiniTensor"]
	path = codes/stage2/ai_compiler/InfiniTensor
	url = git@github.com:scbz4learning/InfiniTensor
