[submodule "learning-tools"]
	path = stage0/hw/learning-tools
	url = https://github.com/scbz4learning/learning-tools
[submodule "Learning-CUDA"]
	path = stage1/hw/Learning-CUDA
	url = git@github.com:scbz4learning/Learning-CUDA.git
[submodule "llaisys"]
	path = stage1/hw/llaisys
	url = git@github.com:scbz4learning/llaisys.git
[submodule "TinyInfiniTrain"]
	path = stage1/hw/TinyInfiniTrain
	url = git@github.com:scbz4learning/TinyInfiniTrain.git
[submodule "TinyInfiniTensor"]
	path = stage1/hw/TinyInfiniTensor
	url = git@github.com:scbz4learning/TinyInfiniTensor.git
[submodule "Triton-Puzzles"]
	path = stage1/materials/Triton-Puzzles
	url = git@github.com:scbz4learning/Triton-Puzzles.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:scbz4learning/learning-cxx.git
[submodule "stage2/CLIP"]
	path = stage2/CLIP
	url = https://github.com/openai/CLIP
